{% extends 'serials\base.html'%}


{% block content %}

<div class="genres">
<h3>Жанры сериалов</h3>
{% include "includes/genres.html" %}</div>
<ul>
{% for f in serials %}
    <div class="serial-list">
    <li>
    <a href="{{f.get_absolute_url}}">
        {{f.title}} | {{f.platform}}
    </a>
        <br>
        {% if f.serials.all %}
        {%for item in f.serials.all%}
        <img src="{{item.photos.url}}">
        {%endfor%}
        {% endif %}
    </li>
    </div>
{%endfor%}
</ul>

{% endblock %}